/* CSS styles only mean as placeholders.
 Front end team will decide how the final product will look */

body
{
    background-image: url('http://testwebservertop.000webhostapp.com/assets/bg/bg_1.jpg');
    position: relative;
    background-size: cover;
    border-radius: 0px;
    animation: animatedBackground 40s linear infinite;
}

.bg-layer {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: none;
    position: relative; 
    min-height: 100vh;
}

.bg-dark 
{
    opacity: 0.9;
    background-color: #292b2d !important;
}

.modal-color
{
    opacity: 0.9;
    background-color: #292b2d !important;
    color: white;   
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

/*ADDED: Same rules applied to original message-box div work for chat-page classes*/
#message-box,
.chat-page {
    margin-top: 5vh;
}

#message-body {
  color: rgb(249, 255, 0);
  background-color: #2980b9;
}

#gif-choose {
    min-height: 575px;
    background-color: rgb(99, 77, 226);
}

#entry-field {
    min-height: 50px;
    background-color: antiquewhite;
    margin: 5px;
}

.gif-bubble {
    display: flex;
    width: 250px;
    margin: 2px;
    padding: 20px;
    background-color: goldenrod;
}

#midSection {
    top: 50%;
    left: 50%;
    margin-top: -280px;
    margin-left: -590px;
    position:absolute;
}

.flip-card {
        background-color: transparent;
        width: 250px;
        height: 100px;
        margin-bottom: 10vh;
    }


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.flip-card-back {
        background-color: #2980b9;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 1px 0.5px #231b1b;
        cursor: pointer;
        color: rgb(249, 255, 0);
        width: 200px;
        height: 150px;
        transform: rotateY(180deg);
    }




form.jumbotron{
    top:20%;
    right: 0px;
    margin: 0px auto;   
    width: 400px;
    position: relative; 
    background-color: rgba(24, 26, 27, 0.04);
    box-shadow: rgba(0, 0, 0, 0.75) -1px 4px 28px 0px;
    border-radius: 0px;
}
#userLogSection{
    color: white;
    font-size: 26px;
}
#signUpBtn,#logoutBtn 
{
    opacity: 0.9;
    width: 100%;
    font-size: 18px;
    border-radius: 0px;
    font-family: 'Hind', sans-serif;
}

#txtsignup{
    text-align: center  !important;
}

#userName, #inputPassword1, #inputPassword2, #dropdownMenu1{
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: none;
    opacity: 0.7;
    color: white;
    margin-top: 15px;
    margin-bottom:15px;
}

#alertMessage {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    color: red;
    font-size: 15px;
}

.heading-avatar-icon{
  text-align: center !important; 
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-left: 35%;
}

#loginDropdown {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.7);
    background-image: none;
    opacity: 0.8;
}

/*                  
    Start

*/
h5{
    color: white;
}
/* GIF Modal CSS changes here*/
h5.modal-title {
    color: black;
}

#gif-preview {
  display: flex;
  justify-content: center;
}

#users, #search-user, #input-msg {
    color: white;
}



.container{max-width:1170px; margin:auto;}
img{ max-width:100%;border-radius: 50%;}
.inbox_people {
  background:#333336 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  /* width: 40%; border-right:1px solid #c4c4c4; */
  box-shadow: rgba(0, 0, 0, 0.75) -1px 4px 28px 0px;
  border-radius: 0px;
}

.active_chat{ 
    background-color: #1c1c20;
} 
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; 
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -27px;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: auto;
}



.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 400px;
}
.messaging { 
    background-color: #212529;
    box-shadow: rgba(0, 0, 0, 5) -1px 4px 40px 0px;
 }
.msg_history {
   height: 516px;
  overflow-y: auto;
}

.img-item:hover {opacity: 1}

.chat_list:hover {
    background-color: #1c1c20;
}

.imagetmp {
  width: 53.5%;
  height: 100px;
  position: absolute;
  bottom: 57px;
  background: rgb(51, 51, 54);
  display: none;
  padding: 10px 5px 5px 10px !important;
  margin: 0 !important;
  z-index: 1000;
  scroll-behavior: none;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  -ms-overflow-y: hidden;
}

.imagetmp #reviewImg {
    width: 100%;
    display: block;
}

.img-msg-item
{
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 1px 0.5px #231b1b;
    cursor: pointer;
}

.img-item
{
    width: 90px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 1px 0.5px #231b1b;
    cursor: pointer;
    padding: 5px 5px 5px 5px !important;
    opacity: 0.7;
    transition: 0.3s;
} 

.message-modal {
    z-index: 1;
    background-color: #b97b29;
    opacity: 0.8;
}

/*CSS FONT LIBRARY: Experimenting with a Google Fonts link*/

.navbar-brand,
.nav-item {
    font-family: 'Lobster', cursive;
}

#username {
  font-family: 'Kalam', cursive;
}

.btnColor {
  background-color: lightblue !important;
}
